{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="meta keywords" />
        <meta name="description" content="meta description" />
        {% include "core/favicons.html" %}
        <link href="{% static 'core/bundle/bootstrap.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
        <link href="{% static 'core/bundle/index.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
        <link href="{% static 'core/font-awesome/css/fontawesome.min.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
    </head>
    <title>DonateUA</title>
    <body>
        <style>
            body{
                background-color: gray;
            }
            .custom-card {
                border-radius: 20px;
                max-width:500px;
            }
        </style>
        {% include "core/includes/topbar.html" %}
        {% block content %}
        {% endblock content %}
        <script src="https://js.stripe.com/v3/"></script>
        <!-- Stripe JS #2-->
        <script>
            var stripe_public_key = Stripe('{{ stripe_public_key }}');

            const pay_now_button = document.querySelector('#stripe-checkout');


            pay_now_button.addEventListener('click', event =>{


                stripe_public_key.redirectToCheckout({

                    sessionId: '{{ session_id }}'


                }).then(function(result){
                });
            })
        </script>
    </body>
</html>
