---
name: Checks

on:
    push:
        branches: [main]
jobs:
    test-lint:
        name: Test and Lint
        runs-on: ubuntu-latest

        steps:
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USER }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Checkout
              uses: actions/checkout@v4
            - name: Test and Lint
              env:
                  SQL_ENGINE: ${{ secrets.SQL_ENGINE }}
                  SQL_DATABASE: ${{ secrets.SQL_DATABASE }}
                  SQL_USER: ${{ secrets.SQL_USER }}
                  SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
                  SQL_HOST: ${{ secrets.SQL_HOST }}
                  SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
                  STRIPE_PRIVATE_KEY: ${{ secrets.STRIPE_PRIVATE_KEY }}
              run: >-
                  docker compose run --rm app sh -c
                  "python manage.py wait_for_db &&
                  flake8 &&
                  DJANGO_SETTINGS_MODULE=portfolio.settings_test
                  python manage.py test"

    deploy:
        needs: test-lint
        runs-on: ubuntu-latest
        if: success()
        concurrency:
            group: production-deployment
            cancel-in-progress: false

        steps:
            - name: Deploy to EC2
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USER }}
                  key: ${{ secrets.EC2_SSH_KEY }}
                  passphrase: ${{ secrets.EC2_SSH_PASSPHRASE }}
                  script: |
                      cd karnetic-labs
                      make prod
